* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    scroll-behavior: smooth;
    --color-white: white;
    --color-blue: #2176ff;
    --color-gray: #747a87;
    --color-little-white: #e0dede;
    --color-dark: #303745;
    --color-darker: #222222;
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: suse;
    src: url(fonts/FrankRuhlLibre-VariableFont_wght.ttf);
}

/* header */

.navbar{
    background-color: var(--color-dark);
}
.navbar-nav>li>a{
    margin-top: 10px;
    color: var(--color-little-white);
}
.navbar-nav>.nav-item>a:hover{
    color:var(--color-white);
    background-color: var(--color-blue);
}

.dropdown-item:hover{
    color: var(--color-white);
    background-color: var(--color-blue);
}

.container-xxl{
    padding: 15px 20px;
}

.contactus{
    padding: 7px 55px;
    border-radius: 30px;
    color: var(--color-white);
    background-color: var(--color-blue);
    display: none;
    font-size: 17px;
    border: none;
}

.navbar-brand{
    cursor: pointer;
}

.bg-image{
    background-image: url(images/bg_home.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
@media (min-width: 768px) {
    .container-xxl{
        padding-left: 20px;
        justify-content: right;
    }
    .navbar-toggler{
        margin-right: 50px;
    }
    .container-xxl{
        padding: 8px 20px;
    }
}


@media (min-width: 1199px){
    .header-nav>.navbar{
        background-position-y: 500px;
    }
}
@media (min-width: 1200px){
    .navbar-nav>.nav-item>a:hover{
        color:var(--color-blue);
        background-color: transparent;
    }
    #navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 20px;
    }
    .nav-link{
        margin-right: 30px;
    }
    .header-nav>.navbar ,
    .bg-image{
        background-color: var(--color-darker);
        background-image: url(images/bg_home.jpg);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -33px;
        background-attachment: fixed;
    }

    .contactus{
        display: block;
    }
}







/* section-1 */


.bg-image>div>.row>div>h2{
    font-family: roboto;
    color: var(--color-white);
    margin-top: 180px;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
}

.bg-image>div>.row>div>p{
    font-family: roboto;
    color: var(--color-white);
    margin-top: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding: 0 35px;
    text-transform: uppercase;
    line-height: 1.5;
}

.bg-image>div>.row>div>button{
    font-family: roboto;
    display: block;
    margin: 30px auto 0;
    padding: 10px 45px;
    border: none;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
}
.bg-image>div>.row>div>button:hover{
    background-color:  rgba(8, 8, 135, 0.871);
}

@media (min-width: 768px){
    .bg-image>div>.row>div>h2{
        font-size: 80px;
    }
}

@media (min-width: 992px){
    .bg-image>div>.row>div>h2{
        font-size: 100px;
    }

    .bg-image>div>.row>div>p{
        font-size: 25px;
        padding: 0 70px;
    }
}

@media (min-width: 1200px){
    .bg-image>div>.row>div>p{
        font-size: 23px;
        padding: 0 140px;
        font-weight: 500;
    }
}



/* section-2 */

.section-type-2-klarke{
    width: 100%;
    height: auto;
}

.section-type-2-klarke>div{
    padding-left: 40px;
}

.section-type-2-klarke>div>.row>div>p>span{
    font-size: 90px; 
    line-height: 30px; 
    vertical-align: middle; 
    margin-bottom: -20px; 
    margin-right: 20px;
    color: var(--color-gray);
}
.section-type-2-klarke>div>.row>div>p{
    font-family: suse;
    font-size: 35px; 
    line-height: 1.8; 
    color: var(--color-gray);
    padding-right: 80px;
}

.section-type-2-klarke>div>.row>div>small>span{
    font-size: 20px; 
    color: var(--color-white);
    background-color: var(--color-blue);
    font-weight: 600;
    margin-right: 10px;
}

.section-type-2-klarke>div>.row>div>small{
    font-size: 18px; 
    font-weight: 500;
    color: var(--color-gray);
}

.section-type-2-klarke>div>.row>.long-text>h2{
    font-size: 45px;
    font-family: suse;
    margin-top: 90px;
}

.section-type-2-klarke>div>.row>.long-text>p>span{
    font-size: 50px;
    background-color: var(--color-blue);
    border-radius: 50%;
    color: var(--color-white);
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    overflow: auto;
}

.section-type-2-klarke>div>.row>.long-text>p{
    font-size: 22px;
    line-height: 1.8;
    color: var(--color-gray);
    margin-top: 50px;
}

.section-type-2-klarke>div>.row>.long-text>button{
    padding: 10px 45px;
    border: 2px solid black;
    color: var(--color-darker);
    font-family: suse;
    border-radius: 20px;
    font-weight: 600;
    font-size: 17px;
}

.section-type-2-klarke>div>.row>.long-text>button:hover{
    color: var(--color-white);
    background-color: var(--color-blue);
    border: 2px solid var(--color-blue);
}


@media (min-width: 992px){
    .section-type-2-klarke>div>.row>.long-text>p{
        font-size: 20px;
        line-height: 1.3;
        color: var(--color-gray);
        margin-top: 30px;
    }
}


/* section-type-3-city-play-video */

.section-type-3-city-play-video{
    margin-top: 80px;
    background-image: url(images/avada-creative-home1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-type-3-city-play-video>div>div>img{
    display: block;
    margin: 50px auto 0;
}

.section-type-3-city-play-video>div>div>h3{
    color: var(--color-white);
    font-family: suse;
    font-size: 45px;
    margin-top: 30px;
    text-align: center;
}

.section-type-3-city-play-video>div>div>p{
    color: var(--color-white);
    font-family: roboto;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}

.section-type-3-city-play-video>div>div>button{
    padding: 10px 45px;
    background-color: var(--color-little-white);
    color: var(--color-darker);
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 30px auto;
    border: none;
    border-radius: 20px;
}

.section-type-3-city-play-video>div>div>button:hover{
    background-color: var(--color-blue);
    color: var(--color-little-white);
}
.section-type-3-city-play-video>div>div>button>.bi-play{
    color: var(--color-darker);
    font-size: 18px;
}
.section-type-3-city-play-video>div>div>button>.bi-play:hover{
    color: var(--color-white);
}


.section-type-3-city-play-video>div>div>div>svg{
    margin: 80px auto 30px;
    color: var(--color-white);
    display: block;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

@media (min-width: 992px){
    .section-type-3-city-play-video>div>div>h3{
        font-size: 60px;
    }
    .section-type-3-city-play-video>div>div>p{
        font-weight: 400;
        margin: 20px 0 20px 0;
    }
    .section-type-3-city-play-video>div>div>img{
        margin-top: 150px;
    }
    .section-type-3-city-play-video>div>div>div>svg{
        margin-top: 190px;
    }
}





/* section-type-3-6-imgs */
.section-type-3-6-imgs{
    padding: 80px 30px 0;
}

.section-type-3-6-imgs>div>h3{
    font-family: suse;
    font-size: 50px;
    font-weight: 600;
}

.section-type-3-6-imgs>div>.div-for-flex-md>div>p{
    font-family: roboto;
    color: var(--color-gray);
    font-size: 21px;
    line-height: 1.8;
    text-transform: uppercase;
    margin-top: 30px;
}

.btn{
    padding: 7px 30px 7px 20px;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: 600;

}

.btn>svg{
    width: 30px;
    height: 25px;
}

.images-6-of-them>div>.first-img{
    margin-bottom: 30px;
    width: 90%;
    margin: 0 auto 30px;
    display: block;
    opacity: .6;
    cursor: pointer;
    transition: all 1s;
}
.images-6-of-them>div>.first-img:hover{
    opacity: 1;
    position: relative;
    top: -20px;
    border-radius: 15px;
}

.images-6-of-them>div>img{
    margin-bottom: 30px;
    width: 90%;
    margin: 0 auto 30px;
    display: block;
    opacity: .6;
    cursor: pointer;
    transition: all 1s;
}
.images-6-of-them>div>img:hover{
    opacity: 1;
    position: relative;
    top: -20px;
    border-radius: 15px;
}


#image-little-d-none{
    display: none;
}
@media (min-width: 768px){
    .section-type-3-6-imgs>div>.row>div>img{
        width: 50%;
    }
    .section-type-3-6-imgs>div>.row>div>.first-img{
        margin: 0 auto 30px;
    }
    .div-for-flex-md{
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 30px;
    }
    .div-for-flex-md>#img-d-none{
        display: none;
    }
    #image-little-d-none{
        display: block;
    }
    .section-type-3-6-imgs>div>.div-for-flex-md>div>p{
        width: 80%;
    } 
    .btn{
        font-size: 14px;
    }
    .btn>svg{
        width: 25px;
        height: 20px;
    }
    .section-type-3-6-imgs>div>.row>div>ul>li>img{
        display: inline-block;
    }
    #image-little-d-none{
        margin-bottom: 50px;
    }
}










/* section-type-4-artcle */

.section-type-4-artcle{
    margin-top: 70px;
    background-color: var(--color-dark);
    padding-top: 80px;
    padding-bottom: 100px;
}

.section-type-4-artcle>div>div>h2{
    color: var(--color-white);
    text-align: center;
    font-family: suse;
    font-size: 45px;
}

.section-type-4-artcle>div>div>p{
    font-family: roboto;
    font-size: 19px;
    text-align: center;
    padding: 0 50px;
    color: var(--color-white);
    line-height: 1.7;
    text-transform: uppercase;
}

.section-type-4-artcle>div>div>img{
    display: block;
    margin: auto;
}




.section-type-4-artcle>.fit-for-container>.part-3-img>div{
    background-color: var(--color-white);
    width: 80%;
    margin: 40px auto;
    border-radius: 0 20px 0 20px;
    cursor: pointer;
    padding: 0;
}

.section-type-4-artcle>.fit-for-container>.part-3-img>div>img{
    width: 100%;
    opacity: .6;
    border-radius: 0 20px 0 0;
}

.section-type-4-artcle>.fit-for-container>.part-3-img>div>img:hover{
    opacity: 1;
}

.section-type-4-artcle>.fit-for-container>.part-3-img>div>h3{
    color: var(--color-blue);
    padding: 20px 25px;
    font-size: 30px;
}

.section-type-4-artcle>.fit-for-container>.part-3-img>div>p{
    color: var(--color-gray);
    text-align: start;
    padding: 10px 25px;
    font-size: 16px;
}


.section-type-4-artcle>button{
    border: 2px solid var(--color-white);
    color: var(--color-white);
    margin-bottom: 50px;
    padding: 7px 30px;
}

@media (min-width: 576px){
    .section-type-4-artcle>.fit-for-container>.part-3-img>div{
        width: 45%;
    }
}





/* section-type-5-services */

.section-type-5-services>div>h4{
    font-family: suse;
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
}

.section-type-5-services>div>p{
    font-family: roboto;
    color: var(--color-gray);
    text-align: center;
    font-size: 20px;
    padding: 20px 40px;
    margin-top: 20px;
}

@media (min-width: 992px){
    .section-type-5-services>div>p{
        font-size: 22px;
        padding: 0 350px;
    }

    .section-type-5-services>div>h4{
        font-size: 80px;
    }
}



.our-srvices>div>div>svg{
    color: var(--color-blue);
    border: 2px solid var(--color-dark);
    border-radius: 50%;
    padding: 20px;
    display: block;
    margin: 50px auto 20px;
    width: 100px;
    height: 100px;
    position: relative;
    right: -17px;
    cursor: pointer;
}
.our-srvices>div>div:hover svg{
    border: 2px solid var(--color-blue);
}

.our-srvices>div>div>h5{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    position: relative;
    right: -15px;
    cursor: pointer;
}
.our-srvices>div>div:hover h5{
    color: var(--color-blue);
}

.our-srvices>div>div>div>ul>li{
    padding: 0 100px;
    text-align: center;
    color: var(--color-gray);
margin-top: 20px;
}

.our-srvices>div>div{
    margin-bottom: 20px;
}

.view-all-services{
    padding: 7px 40px;
    font-size: 17px;
}
















/* bg-footer-end */

.bg-footer-end{
    background-image: url(images/services_bg_footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-footer-end>div>div>img{
    width: 90px;
    height: 100px;
    display: block;
    margin: 80px auto 0;
}

.bg-footer-end>div>div>h3{
    color: var(--color-white);
    text-align: center;
    font-size: 45px;
    margin: 20px 0;
}

.bg-footer-end>div>div>p{
    text-align: center;
    color: var(--color-white);
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 50px;
}

.bg-footer-end>div>div>button{
    display: block;
    padding: 7px 40px;
    background-color: var(--color-white);
    color: var(--color-darker);
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    margin: 30px auto;
}
.bg-footer-end>div>div>button:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
}

@media (min-width: 992px){
    .bg-footer-end>div>div>h3{
        font-size: 80px;
    }

    .bg-footer-end>div>div>p{
        font-size: 20px;
        margin: 30px auto 40px;
    }
}













/* last-part-footer */

.last-part-footer>div{
    width: 100%;
}

.last-part-footer>div>p{
    padding: 20px 50px;
    color: var(--color-gray);
    text-align: center;
}
.last-part-footer>div>p>span{
    color: var(--color-blue);
}

.last-part-footer>div>p>span:hover{
    color: var(--color-gray);
    cursor: pointer;
}


.last-part-footer>Div>div>svg{
  text-align: center;  
}



.svgs-flex{
   justify-content: center;
   display: flex;
   gap: 20px;
}

.svgs-flex>svg{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

@media (min-width: 992px){
    .last-part-footer>div>p{
        text-align: start;
        padding: 0;
    }
}





/* chevron-up-fixed */

.svg-fix>a>svg{
    position: fixed;
    bottom: 0;
    right: 80px;
    width: 53px;
    height: 37px;
    border-radius: 5px 5px 0 0;
    padding: 7px;
    background-color: rgb(67, 65, 65);
    color: var(--color-white);
}
.svg-fix>a>svg:hover{
    background-color: var(--color-blue);
}





::-webkit-scrollbar{
    width: 9px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-blue);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-dark);
}